<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Does this app use data for tracking? -->
	<key>NSPrivacyTracking</key>
	<false/>

	<!-- Domains used for tracking (none) -->
	<key>NSPrivacyTrackingDomains</key>
	<array/>

	<!-- Data types collected from users (none) -->
	<key>NSPrivacyCollectedDataTypes</key>
	<array/>

	<!-- Required-reason APIs used by this app (none) -->
	<key>NSPrivacyAccessedAPITypes</key>
	<array/>
</dict>
</plist>
